<div class="container col-lg-6">
  <h1 class="text-center">Reset Password</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group">
          <label for="email">Old Password:</label>
          <input type="text" class="form-control" id="pass"[(ngModel)]="oldPassword" placeholder="Enter old password"
            name="password" required>
        </div>
        <div class="form-group">
          <label for="pwd">New Password:</label>
          <input type="password" class="form-control" [(ngModel)]="newpassword" id="password" placeholder="Enter new password"
            name="password" required>
        </div>
        <div class="form-group">
          <label for="pwd">Confirm Password:</label>
          <input type="password" class="form-control" [(ngModel)]="Confirmpassword" id="cpass" placeholder="Enter confirm password"
            name="cpasssword" required>
        </div>
        <button (click)=resetpassword() class="btn btn-success">Reset</button>
      </form>
    </div>
  </div>
</div>