
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <h3>Create Student</h3>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
        </div>
    
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="student.email" name="email">
        </div>
    
        <div class="form-group">
          <label for="name">Branch</label>
          <input type="text" class="form-control" id="branch" required [(ngModel)]="student.branch"  name="branch">
        </div>
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" class="form-control" id="uname" required [(ngModel)]="student.username" name="userName">
        </div>
        <div class="form-group">
          <label for="name">password</label>
          <input type="text" class="form-control" id="pass" required [(ngModel)]="student.password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>



